/*Reset Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global Styles*/
/* Add styles specific throughout entire website */
p {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
footer p {
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
    color: #283618;
    background-color: #fefae0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 96px;
}

/* Navigation Bar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

/* Typography */
body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    /* Adjusted text color */
    background-color: #f9f9f9ee;
    /* Adjusted background color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 28px;

}

p {
    font-size: 16px;

    line-height: 1.8;
}

/* Global Nav Menu */
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;

    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.60);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content {
    padding-top: 100px;
}

.fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fixed-nav-bar.scrolled {
    min-height: 60px;
    background-color: #345223;
    /* Ensure background color remains opaque when scrolled */
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}

#menuButton {
    display: none;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}

.menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.menu-button-label .white-bar:nth-child(1) {
    top: 20%;
}

.menu-button-label .white-bar:nth-child(2) {
    top: 50%;
}

.menu-button-label .white-bar:nth-child(3) {
    top: 80%;
}


/* Dropdown Menu */
.nav-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.753);
    transition: 0.35s ease, width 0.35s ease;
    z-index: 80;
    overflow-y: auto;
}

/*Men when Dropped*/
.nav-menu.dropped {
    display: block;
    /* Show the dropdown menu when dropped class is added */
    height: 35vh;
    padding: 5px 0;
    transition: height 0.45s ease;
}

/* Adjustments for Drop-down Menu Items */
* Your existing CSS styles */

/* Add hover effect for dropdown items */
.drop-down-container .drop-down-item:hover {
    color: #fff;
    background-color: #345223;
    /* Background color when hovered */
}

/* Adjust dropdown item styles */
.drop-down-container .drop-down-item {
    display: block;
    padding: 15px 0;
    color: #D77028;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    /* Added transition for smooth hover effect */
}

/* Updated responsive styles */
@media screen and (max-width: 768px) {
    .nav-menu {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.753);
        /* Ensure background color remains visible */
    }

    /* Adjust dropdown container width */
    .drop-down-container {
        width: 100%;
    }
}

/*End of Global Styles*/


/* Index/Landing Page styles */
.index {
    /* Add styles specific to the index page */
    background-color: #FEFAE0;

    /* Index top image - START */

    .container {
        position: relative;
        margin-top: px;
        width: 100%;
        height: 100vh;

    }

    .container>img {

        width: 100%;
        height: 85vh;
        left: 0;
        object-fit: cover;
    }

    /* OVERLAY - TBD 
    .overlay {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
    
    .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
    
    */

    .title,
    #subtitle {
        letter-spacing: 5px;
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 10vh;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20vh;
        font-weight: 750;
        background-color: #D7702898;
        padding: 1vh;
        color: #FFFFFF;
        z-index: 1;
        transition: top .5s ease;
    }

    #subtitle {
        top: 40vh;
        text-transform: capitalize;
        background-color: transparent;
        font-size: 6vh;
        letter-spacing: 2px;

    }

    .container:hover .title {
        top: 3vh;
    }

    .container:hover #subtitle {
        top: 36vh;
    }

    .button {
        position: absolute;
        width: 100%;
        left: 0;
        top: 60vh;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 8vh;
        font-weight: 20px;
        text-align: center;
        opacity: 0;
        transition: opacity .35s ease;
    }

    .button a {
        width: 275px;
        padding: 4vh 12vh;
        text-align: center;
        color: white;
        border-radius: 80px;
        background-color: #345223;
        z-index: 1;
    }

    .container:hover .button {
        opacity: 1;
    }

    /* Index top image - END */

    h2 {
        font-size: 75px;
        letter-spacing: 5px;
        color: #345223;
        text-align: center;
    }

    p {
        font-size: 25px;
        text-align: center;
        line-height: 1.5;
        padding: 0px 15%;
    }

    .secondary {
        background-color: #DDA15E;
        padding: 40px 0px;
        margin: 60px 0px;
    }

    .secondary h2 {
        color: #FFFFFF;
    }

    /* BORDER STILL a WIP 
    
    #who {
      outline: 2px solid #DDA15E;
      z-index: 1;
    }
    
    */

    /* What We Do/Work Images - START */

    .work {
        display: flex;
        width: 100%;
        padding: 20px 0px 0px;
        box-sizing: content-box;
        height: 75vh;

    }

    .box {
        flex: 1;
        overflow: hidden;
        transition: .7s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
        line-height: 0;
    }

    .box>img {
        width: 200%;
        height: calc(100%);
        object-fit: cover;
        transition: .7s;
    }

    .box>span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 7vh;
        line-height: 2.3;
    }

    .box:hover {
        flex: 1 1 50%;
    }

    .box:hover>img {
        width: 100%;
        height: 100%;
    }

    /* What We Do/Work Images - END */
    .guidebook,
    .secondary {
        text-align: center;
    }

    #guidebook {
        height: 500px;
    }

}

/* Index/Landing Page styles - END */


/* Form Page styles */
.form {
    /* Add styles specific to the form page */
}


/* About Page styles */
.about {
    body {
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        background-color: #fabd48;
        border-radius: 18%;
        display: inline;
        padding: 0 10px;
        font-family:
    }


    .top_quote {
        text-align: center;
        font-size: 14pt;
        padding-block-start: .5cm;
    }

    .background_header {
        justify-content: center;
        position: relative;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;

    }

    .story {
        text-align: center;
        padding-block-end: 1cm;
        padding-left: 3cm;
        padding-right: 3cm;
    }

    .people {
        text-align: center;
        padding-bottom: cm;
    }

    .team_container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        padding-block-end: 1cm;
        padding-left: 1cm;
        padding-right: 1cm;
    }

    .board_container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        padding-block-end: 1cm;
        padding-left: 3cm;
        padding-right: 3cm;
        background-color:

    }

    .impact_container {
        display: grid;
        grid-template-rows: 100px;
        grid-template-columns: 200px 200px 200px;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        font-size: 12pt;
        padding-block-end: 2cm;
        padding-left: 3cm;
        padding-right: 3cm;
    }

    .button {
        background-color: #D77028;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
    }

    .footer {
        text-align: center;
        font-size: 12pt;
        background: #fabd48;
        font-weight: bold;
    }

    .support {
        text-align: center;
    }

    p.footer {
        text-align: left;
        color: black;
    }

    .image {
        width: 100%;
        height: auto;
    }

    .text {
        position: absolute;
        top: 30%;
        left: 25%;
        transorm: translate(-50%, -50%);
        z-index: 1;
        background: none;
    }
}


/* Community Page styles */
//* Banner */
body.community .banner {
    background-image: url("images/banner-design.jpg");
    background-position: center;
    background-size: cover;
    color: #FEFAE0;
    padding: 80px 0;
    text-align: center;
}

/* Main Content - Two column Layout*/
body.community .main-content {
    padding: 40px 0;
    margin-left: 10px;
    /*space for grid*/
}

body.community .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.left-layout,
.right-layout {
    max-width: 900px;
    height: auto;
}

.logo-img {
    max-width: 20px;
    max-height: 20%;
}

/*Community Icon Images*/
body.community .feature img {
    width: 50px;
    height: auto;
}

body.community.story,
.insta-widget,
.upcoming-events,
.social-media,
.feature {
    background-color: #FEFAE0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body.community .story h2,
.feature h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

body.community .story {
    margin-left: 10px;
}

body.community .story p,
.feature p {
    margin-bottom: 20px;
}

body.community .main-content .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.community .main-content .feature img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

body.community.main-content .feature p {
    text-align: center;
}

/* Footer */
body.community .news-donate {
    background-color: #283618;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/*Newsletter*/
body.community .newsletter,
.support-us {
    width: 45%;
}

body.community.newsletter h2,
.support-us h2 {
    margin-bottom: 20px;
}

body.community .newsletter input[type="email"] {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
}

/*Buttons*/
body.community .subscribe-btn,
.donate-btn,
.cta-btn {
    padding: 15px 25px;
    background-color: #DDA15E;
    color: #232323;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

body.community .subscribe-btn:hover,
.donate-btn:hover,
.cta-btn {
    background-color: #D77028;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: auto, auto;
    }

    .news-donate {
        flex-direction: column;
    }
}

/* Swiper for upcoming events */
body.community .swiper {
    width: auto;
    height: auto;
}

body.community .swiper-button-next,
.swiper-button-prev {
    color: #D77028;
}

body.community .swiper {
    max-width: 40%;
    height: auto;
}

body.community .swiper-button-next::after,
.swiper-button-prev::after {
    color: #D77028;
}


/* Trails Page styles */
.trails {
    /* Add styles specific to the trails page */
}


/*Media Queries*/