/*Reset Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global Styles*/
/* Add styles specific throughout entire website */
p {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
footer p {
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    /* Change background color to opaque */
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content {
    padding-top: 100px;
}

.fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    /*text-transform: uppercase;*/
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.community.scrolled {
    min-height: 60px;
    background-color: #fefae0;
    /* Ensure background color remains opaque when scrolled (text)*/
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}

#menuButton {
    display: none;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 101;
}

.menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}
.menu-button-label .white-bar:nth-child(1) {
    top: 20%;
}

.menu-button-label .white-bar:nth-child(2) {
    top: 50%;
}

.menu-button-label .white-bar:nth-child(3) {
    top: 80%;
}

/**/
  /* Dropdown Menu */
.nav-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: rgba(215,112,40, 0.7);
    transition: 0.35s ease, width 0.35s ease;
    z-index: 90;
    overflow-y: auto;
    font-family: 'Bebas Neue', sans-serif;

}

.nav-menu.dropped {
    display: block;
    /* Show the dropdown menu when dropped class is added */
    height: 100vh;
    padding: 50px 0;
    transition: height 0.35s ease;
    font-size: 16pt;
    top: 100px;
}

  /* Adjustments for Drop-down Menu Items */
.drop-down-container {
    position: relative;
    width: 100%;
    text-align: center;
}

.drop-down-container .drop-down-item {
    display: block;
    padding: 15px 0;
    color: #ccc;
    font-size: 60px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.drop-down-container .drop-down-item:hover {
    color: #fff;
}

.fixed-nav-bar .subheading {
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .nav-menu {
    width: 100%;
    }
}


/* Index/Landing Page styles */
.index {
    /* Add styles specific to the index page */
}


/* Form Page styles */
.form {
    /* Add styles specific to the form page */
}


/* About Page styles */

.about {
    /*.top_quote, .story, .people{
        margin-left: 1cm;
        margin-right: 1cm;
    }*/

    h1 {
        text-align: center;
        background-color: #fabd48;
        border-radius: 18%;
        display: inline;
        font-size: 70pt;
    }
    h2{
        font-size: 55pt;
        color: #D77028;
        padding: 30px;
        text-align: center;
    }
    h4{
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 17pt;
    }
    p{
        font-size: 16pt;
        color: #345223;
        font-weight: bold;
        padding: 25px;
    }
    
    
    .top_quote {
        text-align: center;
        font-size: 14pt;
        padding-block-start: .5cm;
        padding-bottom: 50px;
        background:  #345223;
        padding-top: 50px;

        
    }
    .background_header{
        justify-content: center;
        position: relative;
        width: 100%;
        color: white;
    }
    img{
        width: 100%;
        height: auto;
    }
    
    .story {
        text-align: center;
        padding-bottom: 50px;
        padding-left: 3cm;
        padding-right: 3cm;
        background: #FEFAE0;
        padding-top: 50px;
    }
    .people{
        text-align: center;
        
    }
    .team_container {
        display: grid;
        grid-template-rows: auto; 
        grid-template-columns: auto auto;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding-left: 1cm;
        padding-right:1cm;
        padding-bottom: 50px;
        
        gap: 100px;

        
    }

    .board_container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto;
        justify-content: center;
        align-content: center;
        text-align: center; 
        column-gap: 100px;
        row-gap: 25px;
        background: #88bf69;
        padding: 50px;
    }
    .board-title{
        background: #88bf69;
    }
    .color-heading{
        background: #FEFAE0;
        padding-top: 20px;
    }
    .impact_container{
        display: grid;
        grid-template-rows: 100px;
        grid-template-columns: 200px 200px 200px ;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        font-size: 12pt;
        padding: 50px;
        padding-left: 3cm;
        padding-right:3cm;
        background: #FEFAE0;
    }
    .button{
        background-color: #D77028;
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        }
    .footer{
        text-align: center;
        font-size: 16pt;
        background: #345223;
        font-weight: none;
        padding: 30px;
        color: white; 
    }
    .footer-text{
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .support-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        height: auto;
        width: auto;
        justify-content: center;
        place-items: center;
        gap: 10px;
        padding-bottom: 50px;
    }
    .support-item-1{
        grid-row: 1/2;
        grid-column: 1/2;
        width: auto;
        height:auto;
    }
    .support-item-2{
        grid-row: 1/2;
        grid-column: 2/3;
        width: 500px;
        height: 300px;
    
    }
    .image2{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .text{
        position: absolute;
        top: 50%;
        left: 25%;
        transorm: translate(-50%, -50%);
        z-index: 1;
        background: none;
    }
    .nav2{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 17pt;
    }
    .p-text{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        padding-right: 40px;
    }
    
    .p-text:hover{
        color: white;
        font-weight: bold;
    }  
    }
    



/* Community Page styles */
/* Add styles specific to the community page */
/* Targeting Only the Community Page */

.community  {
    /* Styles for the header h1 on the community page */
}

.community main.grid {
    /* Styles for the main grid on the community page */
}

.community .sidebar-left {
    /* Styles for the left sidebar on the community page */
}

.community .sidebar-right {
    /* Styles for the right sidebar on the community page */
}

.community .newsletter {
    /* Styles for the newsletter section on the community page */
}


/* Trails Page styles */
.trails {
    /* Add styles specific to the trails page */
}


/*Media Queries*/
