/* Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body,
p,
.nav-menu,
.footer p,
.newsletter input[type="email"],
.p-text,
.footer a {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

p {
    font-size: 16px;
    line-height: 1.8;
}

/* Global Styles */
body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    color: #283618;
    background-color: #fefae0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Navbar */
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* NAV BAR - START */
    
    /* Adjust dropdown container width */
      /*.drop-down-container {
          width: 100%;
      }*/
  
  
  
  
  
  /* Navigation Bar */
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    /* Change background color to opaque */
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content {
    padding-top: 100px;
}

.fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    /*text-transform: uppercase;*/
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.community.scrolled {
    min-height: 60px;
    background-color: #fefae0;
    /* Ensure background color remains opaque when scrolled (text)*/
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}

#menuButton {
    display: none;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 101;
}

.menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}
.menu-button-label .white-bar:nth-child(1) {
    top: 20%;
}

.menu-button-label .white-bar:nth-child(2) {
    top: 50%;
}

.menu-button-label .white-bar:nth-child(3) {
    top: 80%;
}
  
  /**/
  
  
  /* Global Nav Menu */
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    /* Change background color to opaque */
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .content {
      padding-top: 100px;
  }
  
  .fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    /*text-transform: uppercase;*/
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
  }
  
  .community.scrolled {
    min-height: 60px;
    background-color: #fefae0;
    /* Ensure background color remains opaque when scrolled (text)*/
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}
  
  #menuButton {
      display: none;
  }
  
  .menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 101;
  }
  
  .menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
  }
  
  .menu-button-label .white-bar:nth-child(1) {
      top: 20%;
  }
  
  .menu-button-label .white-bar:nth-child(2) {
      top: 50%;
  }
  
  .menu-button-label .white-bar:nth-child(3) {
      top: 80%;
  }
  
  
  /* Dropdown Menu */
  .nav-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: rgba(215,112,40, 0.7);
    transition: 0.35s ease, width 0.35s ease;
    z-index: 90;
    overflow-y: auto;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  /*Men when Dropped*/
  .nav-menu.dropped {
    display: block;
    /* Show the dropdown menu when dropped class is added */
    height: 100vh;
    padding: 50px 0;
    transition: height 0.35s ease;
    font-size: 16pt;
    top: 100px;
  }
  /* Adjustments for Drop-down Menu Items */
  .drop-down-container {
    position: relative;
    width: 100%;
    text-align: center;
}
  
  /* Add hover effect for dropdown items */
  .drop-down-container .drop-down-item:hover {
      color: #fff;
      /* Background color when hovered */
  }
  
  /* Adjust dropdown item styles */
  .drop-down-container .drop-down-item {
    display: block;
    padding: 15px 0;
    color: #ccc;
    font-size: 60px;
    text-decoration: none;
    transition: color 0.3s ease;
      /* Added transition for smooth hover effect */
  }
  
  /* NAV BAR - END */

/* Newsletter and Donate Section */
.news-donate {
    background-color: #283618;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.newsletter,
.support-us {
    width: 45%;
}

.newsletter h2,
.support-us h2 {
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
}

/* Buttons */
.subscribe-btn,
.donate-btn,
.cta-btn {
    padding: 15px 25px;
    background-color: #DDA15E;
    color: #232323;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-btn:hover,
.donate-btn:hover,
.cta-btn:hover {
    background-color: #D77028;
}

/* Banner */
.banner {
    background-image: url("images/banner-design.jpg");
    background-position: center;
    background-size: cover;
    color: #FEFAE0;
    padding: 80px 0;
    text-align: center;
}

h1 {
    font-size: 82px;
    letter-spacing: 1.5px;
}

/* Main Content - Two Column Layout */
.main-content {
    padding: 40px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.left-layout,
.right-layout {
    max-width: 900px;
    height: auto;
}

/* Feature Styles */
.feature-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    align-items: center;
}

.feature {
    text-align: center;
    width: 30%;
    background-color: #DDA15E;
    transition: background-color 0.3s ease;
}

.feature:hover {
    background-color: #fefae0;
    color: #D77028;
    box-shadow: 0 4px 10px rgba(238, 109, 4, 0.815);
}

.feature img {
    width: 100%;
    max-width: 100px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #345223;
    padding: 30px;
}

.footer-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 18px;
    color: #fff;
}

.footer a {
    color: #DDA15E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #FEFAE0;
}

.nav-2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.p-text {
    margin: 0 15px;
    font-size: 20px;
    color: #DDA15E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.p-text:hover {
    color: #FEFAE0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }

    .fixed-nav-bar .logo {
        font-size: 24px;
    }

    .menu-button-label {
        display: block;
    }

    .nav-menu {
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.753);
    }

    .drop-down-container {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .left-layout,
    .right-layout {
        width: 100%;
    }

    p {
        font-size: 14px;
    }

    .cta-btn,
    .subscribe-btn,
    .donate-btn {
        padding: 12px 20px;
        font-size: 16px;
    }

    .story p,
    .feature p {
        margin: 10px 20px;
    }
}
