* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global Styles*/
/* Add styles specific throughout entire website */
p {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
footer p {
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
    color: #283618;
    background-color: #fefae0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 96px;
}

/* Navigation Bar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

/* Typography */
body {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    /* Adjusted text color */
    background-color: #f9f9f9ee;
    /* Adjusted background color */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}

h2 {
    font-size: 28px;

}

p {
    font-size: 16px;

    line-height: 1.8;
}

/* Global Nav Menu */
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;

    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.60);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content {
    padding-top: 100px;
}

.fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fixed-nav-bar.scrolled {
    min-height: 60px;
    background-color: #345223;
    /* Ensure background color remains opaque when scrolled */
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}

#menuButton {
    display: none;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}

.menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.menu-button-label .white-bar:nth-child(1) {
    top: 20%;
}

.menu-button-label .white-bar:nth-child(2) {
    top: 50%;
}

.menu-button-label .white-bar:nth-child(3) {
    top: 80%;
}


/* Dropdown Menu */
.nav-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.753);
    transition: 0.35s ease, width 0.35s ease;
    z-index: 80;
    overflow-y: auto;
}

/*Men when Dropped*/
.nav-menu.dropped {
    display: block;
    /* Show the dropdown menu when dropped class is added */
    height: 35vh;
    padding: 5px 0;
    transition: height 0.45s ease;
}

/* Adjustments for Drop-down Menu Items */
* Your existing CSS styles */

/* Add hover effect for dropdown items */
.drop-down-container .drop-down-item:hover {
    color: #fff;
    background-color: #345223;
    /* Background color when hovered */
}

/* Adjust dropdown item styles */
.drop-down-container .drop-down-item {
    display: block;
    padding: 15px 0;
    color: #D77028;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    /* Added transition for smooth hover effect */
}

/* Updated responsive styles */
@media screen and (max-width: 768px) {
    .nav-menu {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.753);
        /* Ensure background color remains visible */
    }

    /* Adjust dropdown container width */
    .drop-down-container {
        width: 100%;
    }
}

/*Newsletter and Donate Section*/
/* newsletter and donate section */
.news-donate {
    background-color: #283618;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.newsletter,
.support-us {
    width: 45%;
}

.newsletter h2,
.support-us h2 {
    margin-bottom: 20px;
}

.newsletter input[type="email"] {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
}

/*Buttons*/
.subscribe-btn,
.donate-btn {
    padding: 15px 25px;
    background-color: #DDA15E;
    color: #232323;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.subscribe-btn:hover,
.donate-btn:hover {
    background-color: #D77028;
}



/* Banner */
.banner {
    background-image: url("images/banner-design.jpg");
    background-position: center;
    background-size: cover;
    color: #FEFAE0;
    padding: 80px 0;
    text-align: center;
}

h1 {
    font-size: 82px;
    letter-spacing: 1.5px;
}

/* Main Content - Two Column Layout */
.main-content {
    padding: 40px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.left-layout,
.right-layout {
    max-width: 900px;
    height: auto;
}

/* Community Logo */
.logo-img {
    max-width: 20px;
    max-height: 20%;
}

/* Community Icon Images */
.feature img {
    width: 50px;
    height: auto;
}

/* Community Sections */
.story,
.insta-widget,
.upcoming-events,
.social-media,
.feature,
.Background__Overlay-sc-4lq1r6-2 djWGwD {
    background-color: #FEFAE0;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.185);
}

.story h2,
.feature h2 {
    font-size: 60px;
    color: #283618;
    margin-bottom: 20px;
}

h2 {
    color: #D77028;
    font-size: 50px;
}

.story {
    margin-left: 10px;
}

.story p,
.feature p {
    margin: 20px 40px;
}

/*Social Media*/
span,
a {
    color: #345223;
    font-weight: bold;
    font-size: large;
}



/* Feature Styles */
.feature-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    align-items: center;
}

.feature {
    text-align: center;
    width: 30%;
    background-color: #DDA15E;
}

.feature img {
    width: 100%;
    max-width: 100px;
}

/* Buttons */
.cta-btn {
    margin: 40px;
    padding: 10px 25px;
    background-color: #DDA15E;
    color: #232323;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

.cta-btn:hover {
    background-color: #D77028;
}

.footer {
    text-align: center;
    font-size: 16pt;
    background: #345223;
    font-weight: none;
    padding: 30px;
    color: white;
}

.footer-text {
    margin-top: 10px;
    margin-bottom: 10px;

}

.nav2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17pt;
}








/* Media query for smaller screens */
@media screen and (max-width: 768px) {

    /* Adjust font sizes for better readability */
    body {
        font-size: 16px;
    }

    /* Adjust logo size */
    .fixed-nav-bar .logo {
        font-size: 24px;
    }

    /* Make menu button visible */
    .menu-button-label {
        display: block;
    }

    /* Adjust navigation menu */
    .nav-menu {
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.753);
    }

    /* Adjust dropdown container width */
    .drop-down-container {
        width: 100%;
    }

    /* Adjust layout for smaller screens */
    .container {
        display: flex;
        flex-direction: column;
    }

    .left-layout,
    .right-layout {
        width: 100%;
    }

    /* Adjust font sizes for better readability */
    p {
        font-size: 14px;
    }

    /* Increase button size */
    .cta-btn,
    .subscribe-btn,
    .donate-btn {
        padding: 12px 20px;
        font-size: 16px;
    }

    /* Adjust padding and margins */
    .story p,
    .feature p {
        margin: 10px 20px;
    }

    @media screen and (min-width: 768px) {
        .news-donate {
            flex-direction: row;
        }

        /* Adjust input field sizes */
        .newsletter input[type="email"] {
            width: 70%;
            padding: 10px;
        }

        /* Adjust spacing between form elements */
        .newsletter input[type="email"],
        .subscribe-btn {
            margin-bottom: 10px;
        }



        /* Adjust grid-based layout */
        .feature-wrapper {
            flex-direction: column;
            align-items: center;
        }

        /* Adjust footer layout */
        footer {
            padding: 20px;
        }

        /* Adjust background images or patterns */
        .banner {
            background-size: contain;
        }

        /* Adjust borders */
        .story,
        .insta-widget,
        .upcoming-events,
        .social-media,
        .feature,
        .slideshow-container {
            border-radius: 5px;
        }
    }

    .fixed-nav-bar .logo {
        font-size: 24px;
    }

    .menu-button-label {
        display: block;
    }

    .nav-menu {
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.753);
    }

    .drop-down-container {
        width: 100%;
    }
