/*Reset Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Global Styles*/
/* Add styles specific throughout entire website */
p {
  font-family: "Montserrat", sans-serif;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
}


/* MEDIA QUERIES   */

@media screen and (max-width: 768px) {
  .nav-menu {
    width: 100%;
  }
}

/*End of Global Styles*/

 /* NAV BAR - START */
    
    /* Adjust dropdown container width */
      /*.drop-down-container {
          width: 100%;
      }*/
  
  
  
  
  
  /* Navigation Bar */
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    /* Change background color to opaque */
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.content {
    padding-top: 100px;
}

.fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    /*text-transform: uppercase;*/
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
}

.community.scrolled {
    min-height: 60px;
    background-color: #fefae0;
    /* Ensure background color remains opaque when scrolled (text)*/
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}

#menuButton {
    display: none;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 101;
}

.menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}
.menu-button-label .white-bar:nth-child(1) {
    top: 20%;
}

.menu-button-label .white-bar:nth-child(2) {
    top: 50%;
}

.menu-button-label .white-bar:nth-child(3) {
    top: 80%;
}
  
  /**/
  
  
  /* Global Nav Menu */
  .fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: #fdfdfd;
    /* Change background color to opaque */
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    backface-visibility: hidden;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .content {
      padding-top: 100px;
  }
  
  .fixed-nav-bar .logo {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    /*text-transform: uppercase;*/
    color: #333;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
  }
  
  .community.scrolled {
    min-height: 60px;
    background-color: #fefae0;
    /* Ensure background color remains opaque when scrolled (text)*/
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.3);
}
  
  #menuButton {
      display: none;
  }
  
  .menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 101;
  }
  
  .menu-button-label .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
  }
  
  .menu-button-label .white-bar:nth-child(1) {
      top: 20%;
  }
  
  .menu-button-label .white-bar:nth-child(2) {
      top: 50%;
  }
  
  .menu-button-label .white-bar:nth-child(3) {
      top: 80%;
  }
  
  
  /* Dropdown Menu */
  .nav-menu {
    display: none;
    /* Hide the dropdown menu by default */
    position: absolute;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: rgba(215,112,40, 0.7);
    transition: 0.35s ease, width 0.35s ease;
    z-index: 90;
    overflow-y: auto;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  /*Men when Dropped*/
  .nav-menu.dropped {
    display: block;
    /* Show the dropdown menu when dropped class is added */
    height: 100vh;
    padding: 50px 0;
    transition: height 0.35s ease;
    font-size: 16pt;
    top: 100px;
  }
  /* Adjustments for Drop-down Menu Items */
  .drop-down-container {
    position: relative;
    width: 100%;
    text-align: center;
}
  
  /* Add hover effect for dropdown items */
  .drop-down-container .drop-down-item:hover {
      color: #fff;
      /* Background color when hovered */
  }
  
  /* Adjust dropdown item styles */
  .drop-down-container .drop-down-item {
    display: block;
    padding: 15px 0;
    color: #ccc;
    font-size: 60px;
    text-decoration: none;
    transition: color 0.3s ease;
      /* Added transition for smooth hover effect */
  }
  
  /* NAV BAR - END */


/* Index/Landing Page styles */
.index {
  /* Add styles specific to the index page */
  background-color: #fefae0;

  /* Index top image - START */

  .container-top {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
  }

  .container-top > img {
    width: 100%;
    height: 85vh;
    left: 0;
    object-fit: cover;
  }

  /* OVERLAY - TBD 
    .overlay {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
    
    .container:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
    
    */

  .title,
  #subtitle {
    letter-spacing: 5px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 10vh;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20vh;
    font-weight: 750;
    background-color: #d7702898;
    padding: 1vh;
    color: #ffffff;
    z-index: 1;
    transition: top 0.5s ease;
  }

  #subtitle {
    top: 40vh;
    text-transform: capitalize;
    background-color: transparent;
    font-size: 6vh;
    letter-spacing: 2px;
  }

  .container-top:hover .title {
    top: 3vh;
  }
  .container-top:hover #subtitle {
    top: 36vh;
  }

  .button {
    position: absolute;
    width: 100%;
    left: 0;
    top: 60vh;
    font-family: "Bebas Neue", sans-serif;
    font-size: 8vh;
    font-weight: 20px;
    letter-spacing: 2px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s ease;
  }

  .button a {
    width: 275px;
    padding: 5vh 3vw;
    text-align: center;
    color: white;
    border-radius: 80px;
    background-color: #345223;
    z-index: 1;
  }

  .container-top:hover .button {
    opacity: 1;
  }

  /* Index top image - END */

  h2 {
    font-size: 75px;
    letter-spacing: 5px;
    color: #345223;
    text-align: center;
  }

  p {
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
    padding: 0px 15%;
  }

  .secondary {
    background-color: #dda15e;
    padding: 40px 0px;
    margin: 60px 0px;
  }

  .secondary h2 {
    color: #ffffff;
  }

  /* BORDER STILL a WIP 
    
    #who {
      outline: 2px solid #DDA15E;
      z-index: 1;
    }
    
    */

  /* WHAT WE DO/WORK - START */

  .work {
    display: flex;
    width: 100%;
    padding: 20px 0px 0px;
    box-sizing: content-box;
    height: 75vh;
  }

  .box {
    flex: 1;
    overflow: hidden;
    transition: 0.7s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    line-height: 0;
  }

  .box > img {
    width: 200%;
    height: calc(100%);
    object-fit: cover;
    transition: 0.7s;
  }

  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 7vh;
    line-height: 2.3;
  }

  .box:hover {
    flex: 1 1 50%;
  }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  /* WHAT WE DO/WORK - END */
  
  
  /* EVENTS */
  
  
  
  
  /* GUIDEBOOK */
  
  .guidebook,
  .secondary {
    text-align: center;
  }

  #guidebook-img {
    height: 500px;
    margin: 15px 0 60px;
  }
}
/* Index/Landing Page styles - END */


/* NEWSLETTER & DONATE */
.news-donate {
    background-color: #283618;
    color: #fff;
    padding: 50px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.newsletter,
.support-us {
    width: 45%;
}

.newsletter h2,
.support-us h2 {
    margin-bottom: 20px;
    color: #FEFAE0;
}

.newsletter input[type="email"] {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
}

/*Buttons*/
.subscribe-btn,
.donate-btn {
    padding: 15px 25px;
    background-color: #DDA15E;
    color: #232323;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.subscribe-btn:hover,
.donate-btn:hover {
    background-color: #D77028;
}

/* FOOTER */
.footer{
        text-align: center;
        font-size: 16pt;
        background: #345223;
        font-weight: none;
        padding: 30px;
        color: white;
    }
    .footer-text{
        margin-top: 10px;
        margin-bottom: 10px;
    }
.p-text{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        padding-right: 40px;
    }
    
    .p-text:hover{
        color: white;
        font-weight: bold;
    } 