/*Reset Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Global Styles*/
/* Add styles specific throughout entire website */
p {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

nav ul li a {
    font-family: 'Montserrat', sans-serif;
}

/* Footer */
footer p {
    font-family: 'Montserrat', sans-serif;
}

/* Index/Landing Page styles */
.index {
    /* Add styles specific to the index page */
}


/* Form Page styles */
.form {
    /* Add styles specific to the form page */
}


/* About Page styles */
.about {
    /* Add styles specific to the about page */
}


/* Community Page styles */
/* Add styles specific to the community page */
/* Targeting Only the Community Page */

.community  {
    /* Styles for the header h1 on the community page */
}

.community main.grid {
    /* Styles for the main grid on the community page */
}

.community .sidebar-left {
    /* Styles for the left sidebar on the community page */
}

.community .sidebar-right {
    /* Styles for the right sidebar on the community page */
}

.community .newsletter {
    /* Styles for the newsletter section on the community page */
}


/* Trails Page styles */
.trails {
    /* Add styles specific to the trails page */
}


/*Media Queries*/
